<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFount.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.tech.blog.servlets.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRegister</servlet-name>
        <servlet-class>com.tech.blog.servlets.editRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPostServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.addPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editRegister</servlet-name>
        <url-pattern>/editRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPostServlet</servlet-name>
        <url-pattern>/addPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
